#observation-area {
  grid-column: span 2;
}

#observation-area > #observation {
  height: 64px;
  padding: 8px;
  border-radius: 4px;
  resize: none;
  margin: 2px 0;
  border: 2px solid #47C4AD;
}

.input-div, .select-div {
  display: flex;
  flex-direction: column;
}

.input-div > input, .select-div select {
  height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid #47C4AD;
  margin: 2px 0;
}

.gender-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 18px 32px;
  align-items: center;
  padding: 0;
}

.gender-group > span {
  grid-area: span;
  grid-row: 1;
}

.gender-input {
  display: flex;
  align-items: center;
  gap: 4px;
  grid-area: radio;
  grid-column: auto;
  grid-row: 2;
  height: 32px;
}

#register-button {
  width: 80%;
  height: 48px;
  border-radius: 4px;
  border: 2px solid white;
  background: #de7eaa;
  cursor: pointer;
  transition: all ease-in-out 0.16s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
#register-button a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 700;
}
#register-button:hover, #register-button:active {
  background-color: #f092b5;
  border: 2px solid white;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
}

#global-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

#logo > img {
  width: 180px;
  margin-bottom: -16px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  height: 100vh;
  width: 70%;
  background: #2B786A;
  background: linear-gradient(90deg, #005d59 0%, #2B786A 50%, #005d59 100%);
  background-color: #2B786A;
  box-shadow: 0 4px 24px 8px rgba(0, 0, 0, 0.5);
  z-index: 5;
  color: white;
  font-family: "Geologica", sans-serif;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.slide-images {
  width: 30%;
  height: 100vh;
  background-color: #005d59;
  position: relative;
}

.slide-images img {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2000ms;
  position: absolute;
}
.slide-images img.selected-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  transition: opacity 2000ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

#global-after {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #2B786A;
  background: linear-gradient(90deg, #005d59 0%, #2B786A 50%, #005d59 100%);
  background-color: #2B786A;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 364px;
  height: 432px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.25);
}
#container #title {
  font-size: 32px;
  color: #0b1f1b;
}
#container #words {
  margin-top: -24px;
  font-size: 18px;
  color: #0b1f1b;
  text-align: justify;
}

.check-icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-shadow: 0px 0px 36px 8px rgba(0, 0, 0, 0.16);
  background: #2C8F61;
  background: linear-gradient(90deg, #247550 0%, #2C8F61 50%, #247550 100%);
  background-color: #2C8F61;
}

#get-pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: #C15AC4;
  cursor: pointer;
  transition: all ease-in-out 0.16s;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.16);
}
#get-pdf a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
#get-pdf:hover, #get-pdf:active {
  background-color: #f37ed4;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.12);
}

.colored-text {
  color: #C15AC4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

#global-before {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background: #0b1f1b;
  background: linear-gradient(90deg, #000e05 0%, #0b1f1b 50%, #000e05 100%);
  background-color: #0b1f1b;
}

#rules-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 430px;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid #A84FAB;
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.25);
  background: #000e05;
  background: linear-gradient(90deg, #000300 0%, #000e05 50%, #000300 100%);
  background-color: #000e05;
}

#progress-step-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
#progress-step-bar .steps-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #f37ed4;
  background: linear-gradient(90deg, #C15AC4 0%, #f37ed4 50%, #C15AC4 100%);
  background-color: #f37ed4;
}
#progress-step-bar:before {
  content: "";
  top: 50%;
  position: absolute;
  height: 2px;
  width: 100%;
  z-index: -1;
  background: #f37ed4;
  background: linear-gradient(90deg, #C15AC4 0%, #f37ed4 50%, #C15AC4 100%);
  background-color: #f37ed4;
}

.form-step {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.form-step.active {
  display: flex;
  opacity: 1;
}
.form-step .rule-legend {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.form-step .rule-legend .rule-title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}
.form-step .rule-legend .description {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.buttons-section {
  display: flex;
  justify-self: baseline;
  justify-content: space-between;
  width: 100%;
}
.buttons-section .next-step-button {
  float: right;
  width: 35%;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #A84FAB;
  background: #f37ed4;
  background: linear-gradient(90deg, #C15AC4 0%, #f37ed4 50%, #C15AC4 100%);
  background-color: #f37ed4;
}
.buttons-section .previous-step-button {
  float: left;
  width: 35%;
  height: 48px;
  border-radius: 4px;
  background: none;
  color: #f37ed4;
  border: 2px solid #f37ed4;
  cursor: pointer;
}
.buttons-section .previous-step-button:hover {
  background-color: rgba(243, 126, 212, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */