form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media (max-width: 450px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}