@import '../common/variables';

#observation-area {
  grid-column: span 2;
}

#observation-area>#observation {
  height: 64px;
  padding: 8px;
  border-radius: 4px;
  resize: none;
  margin: 2px 0;
  border: 2px solid $light-green-club;
}

.input-div, .select-div {
  display: flex;
  flex-direction: column;
}

.input-div>input, .select-div select {
  height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid $light-green-club;
  margin: 2px 0;
}