$dark-green-club: #005d59;
$green-club: #2B786A;
$light-green-club: #47C4AD;
$dark-check-green:#247550;
$check-green: #2C8F61;
$light-check-green: #309C69;

$black-club: #0b1f1b;
$light-black-club: #12332C;

$dark-red-club: #9E4145; 
$red-club: #B84B51;
$light-red-club: #C45156;

$dark-pink-club: #C47097;
$pink-club: #de7eaa;
$light-pink-club:#f092b5;

$dark-purple-club: #A84FAB;
$purple-club: #C15AC4;
$light-purple-club: #f37ed4;

//--------------------------------------------------------- //

@mixin standart-linear-grandient($darkColor, $lightColor) {
  background: $lightColor;
  background: linear-gradient(90deg, $darkColor 0%, $lightColor 50%, $darkColor 100%);
  background-color: $lightColor;
}

@mixin standart-radial-grandient($darkColor, $lightColor) {
  background: $lightColor;
  background: radial-gradient(circle, $darkColor 0%, $lightColor 50%, $darkColor 100%);
  background-color: $lightColor;
}
