$green-club: #2B786A;
$dark-green-club: #143832;
$light-green-club: #47C4AD;

$black-club: #0b1f1b;

$red-club: #B84B51;
$dark-red-club: #6B3135; 

$pink-club: #de7eaa;
$dark-pink-club: #b11d3a;

$light-purple: #C15AC4;